@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.header_top{
    height: 62px;
    background-color:white;
    padding: 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;

}
.header-nav{
    display: flex;
    column-gap: 45px;

}

nav_item{
    font-size: 18px;
    line-height: 60px;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    position: absolute;
}
.nav_item a{

}
